numpy==1.21.0
cffi==1.15.1
pandas
geobr
geos
matplotlib
googletrends
shapely
unidecode
pytrends
geopandas
seaborn
pysal
contextily
openpyxl
sklearn
splot
plotly
mapclassify
folium
osmnx==1.1.2
streamlit-folium
click<=8.0.4
streamlit
